<body>
    <!-- HEADER -->
  <header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>
            Update a task</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- ACTIONS -->
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a href="index.html" class="btn btn-light btn-block">
            <i class="fas fa-arrow-left"></i> Back To Dashboard
          </a>
        </div>
        <div class="col-md-3">
          <a href="index.html" class="btn btn-success btn-block">
            <i class="fas fa-check"></i> Save Changes
          </a>
        </div>
        <div class="col-md-3">
          <a href="index.html" class="btn btn-danger btn-block">
            <i class="fas fa-trash"></i> Delete Post
          </a>
        </div>
      </div>
    </div>
  </section>


<section id="search" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto">
          <div class="input-group">
            <form id="searchTaskForm">
              <input type="text" id="searchTaskInput">
              <button>Enter owner name to get id for task</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  

  <!-- DETAILS -->
  <section id="details">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Edit Task</h4>
              <h6 id="taskID">Post ID</h6>
            </div>
            <div class="card-body">
              <div class="form-group">
                <form class="card" id="createTaskForm">
  <select class="card-header" name="selectCategoryButton" id="selectCategoryButton">
  <option class="card" value="urgent">Urgent</option>
  <option class="card" value="semi-urgent">Semi-Urgent</option>
  <option class="card" value="short-term-goal">Short-Term Goal</option>
  <option class="card" value="long-term-goal">Long-Term Goal</option>
</select>
<label class="card-header" for="">OWNED BY</label>
          <input class="card" type="text" id="ticketOwnerInput">
          <label class="card-header" for="">Completed</label>
          <input class="card" type="text" id="completedInput"> 
          <label class="card-header" for="">Description</label>
          <input class="card" type="text" id="descriptionInput">
          <label class="card-header" for="">Relevant Details</label>
            <textarea name="detailsInput" id="detailsInput" cols="30" rows="10" class="card-header"></textarea>
          <br>
         <button class="btn btn-primary">update task</button>
        </form>

              </div>
     </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<table id="myTable" class="table table-striped bg-dark">
   <tr class="bg-dark text-success">
                  <th class="card-body">Category</th>
                  <th class="card-body">description</th>
                  <th class="card-body"> completed</th>
                  <th class="card-body">Created At</th>
                  <th class="card-body">Updated At</th>
                </tr>
   <tbody id="taskListBody">

   </tbody>
              
  
</table>
  <script src="src/testdetails.js"></script>
</body>