<body>
    <!-- HEADER -->
  <header id="main-header" class="py-2 bg-dark text-success text-center">
<div id="openDetails" class="card-header"></div>

      <!-- ACTIONS -->
  
    SORT TICKETS BY:
       <div class="row">
       <form id="completeButton" class="card-header bg-dark text-white">
      <button class="card-header bg-dark text-success">COMPLETE</button>
    </form>
    <form id="incompleteButton" class="card-header bg-dark text-white">
      <button class="card-header bg-dark text-success">NOT COMPLETE</button>
    </form>
    

<form  id="createdButton" class="card-header bg-dark text-white">
      <button class="card-header bg-dark text-success">Recently updated</button>
    </form>
    <form id="updatedButton" class="card-header bg-dark text-white">
      <button class="card-header bg-dark text-success">Recently updated</button>
    </form>
    
    
    <form id="allTicketsButton" class="card-header bg-dark text-white">
  <button class="card-header bg-dark text-success"> All Tickets</button>
</form>
  <form action="" class="bg-dark w-50 p-3 " id="openTicketForm">
   <select name="searchOwner" id="searchOwner" class="card-header bg-success">
    <option value="ddw">ddw</option>
     <option value="damien">damien</option>
     <option value="Intern">Intern</option>
     <option value="Manager">Manager</option>
      
  </select>
  
  <button>Open Tickets By Owner</button>
</form>
<form action="" class="bg-dark w-50 p-3 " id="closedTicketForm">
   <select name="searchOwner2" id="searchOwner2" class="card-header bg-success">
    <option value="ddw">ddw</option>
     <option value="damien">damien</option>
     <option value="Intern">Intern</option>
     <option value="Manager">Manager</option>
      
  </select>

  <button>Closed Tickets By Owner</button>
</form>   

      </div>
     </header> 

<details class="text-center bg-dark">
    <summary class="text-success"> Click Here To Update Ticket Details<h6 class="text-success" id="taskIDOutput"></h6></summary>
    
            <div class="card-header">
              <h4>Edit Task</h4>
              
            </div>
           
                <form class="card" id="createTaskForm">
                  
   <details>
<summary>Task ID</summary>
  <textarea name="taskIDOutput2" id="taskIDOutput2" cols="30" rows="2" class="card-header"></textarea>
        
          </details>


  <select class="card-header" name="selectCategoryButton" id="selectCategoryButton">
  <option class="card" value="urgent">Urgent</option>
  <option class="card" value="semi-urgent">Semi-Urgent</option>
  <option class="card" value="short-term-goal">Short-Term Goal</option>
  <option class="card" value="long-term-goal">Long-Term Goal</option>
</select>
                    <details>
<summary>Edit Owner</summary>
  <select name="ticketOwnerInput" id="ticketOwnerInput" class="card-header">
    <option value="true">ddw</option>
     <option value="false">damien</option>
     <option value="true">Intern</option>
     <option value="false">Manager</option>
      
  </select>
  </details>
          <details>
<summary>Edit Completed</summary>
  <select name="completedInput" id="completedInput" class="card-header">
    <option value="true">true</option>
     <option value="false">false</option>
      
  </select>
        
          </details>
          <details>
<summary>Edit Description</summary>
  <textarea name="descriptionInput" id="descriptionInput" cols="30" rows="2" class="card-header"></textarea>
        
          </details>
          
          <details class="card-body">
<summary class="btn">Relevant Details</summary>
            <textarea name="detailsInput" id="detailsInput" cols="30" rows="2" class="card-header"></textarea>
        

          </details>
            <br>
         <button class="btn btn-primary" id="updateTaskButton">update task</button>
        </form>

            
  
  </details>



        {{!-- table --}}
        <div id="tableDiv" class="bg-dark text-success">
       <table id="myTable" class="table table-striped bg-dark">
   <tr class="bg-dark text-success">
                  <th class="card-body">Category</th>
                  <th class="card-body">description</th>
                  <th class="card-body"> completed</th>
                  <th class="card-body">Created At</th>
                  <th class="card-body">Updated At</th>
                </tr>
   <tbody id="taskListBody">

   </tbody>
   </table>
    </div>

   
   
  </section>


  



  
 
  <!-- DETAILS -->
  

  <script src="src/testdetails.js"></script>
</body>