<body>
    <!-- HEADER -->
  <header id="main-header" class="py-2 bg-dark text-success text-center">
<div id="openDetails" class="card-header"></div>


  

  <h5 class="bg-dark">SORT TICKETS BY</h5>
  
       <div class="row">
       <form id="completeButton" class="card-header bg-dark text-white">
      <button class="card-header bg-dark text-success">COMPLETE</button>
    </form>
    <form id="incompleteButton" class="card-header bg-dark text-white">
      <button class="card-header bg-dark text-success">NOT COMPLETE</button>
    </form>
    <br>

<form  id="createdButton" class="card-header bg-dark text-white">
      <button class="card-header bg-dark text-success">Recently Created</button>
    </form>
    <form id="updatedButton" class="card-header bg-dark text-white">
      <button class="card-header bg-dark text-success">Recently Updated</button>
    </form>
    
    <br>
    <form id="allTicketsButton" class="card-header bg-dark text-white">
  <button class="card-header bg-dark text-success"> All Tickets</button>
</form>
    

      </div>
     </header> 



        {{!-- table --}}
        <div id="tableDiv" class="bg-dark text-success">
       <table id="myTable" class="table table-striped bg-dark">
   <tr class="bg-dark text-success">
                  <th class="card-body">Title</th>
                  <th class="card-body">Description</th>
                  <th class="card-body">Completed</th>
                  <th class="card-body"></th>
                  <th class="card-body"></th>
                </tr>
   <tbody id="taskListBody">

   </tbody>
   </table>
    </div>

   <form class="card" id="createTaskForm">

  <textarea name="taskIDOutput" id="taskIDOutput" placeholder="TASK ID" cols="30" rows="2" class="card-header"></textarea>
         <textarea name="titleInput" id="titleInput" placeholder="Title Goes Here" cols="30" rows="2" class="card-header"></textarea>
            
        <textarea name="detailsInput" id="detailsInput" placeholder="DESCRIPTION GOES HERE" cols="30" rows="2" class="card-header"></textarea>

           
<textarea name="completedInput" id="completedInput" placeholder="TYPE TRUE OR FALSE" cols="30" rows="2" class="card-header"></textarea>
        
          
         <button class="btn btn-dark text-warning" >UPDATE TICKET</button>
        
         
        </form>
 

   
  </section>


  



  
 
  <!-- DETAILS -->
  

  
</body>