<body>
   
       <form class="card" id="updateUserForm">
         <button class="card-header bg-dark text-success">UPDATE USER INFO</button>
{{!-- 
  age
  name
  jobtitle
  about
  email
  password
 --}}
   <input type="number" id="userAge"  class="btn border border-success" placeholder="AGE"/>
 <input type="text" id="userName"  class="btn border border-success" placeholder="NAME"/>
      <input type="text" id="jobTitle"  class="btn border border-success" placeholder="JOB TITLE"/>
      <textarea name="userAbout" id="userAbout" class="btn border border-success" placeholder="ABOUT YOU" cols="4" rows="4"></textarea>
              
         <button class="btn btn-dark text-success" >UPDATE USER</button>
        
         
        </form>
 

   
  </section>


  



  
 
  <!-- DETAILS -->
  

  
</body>