<body class="container bg-dark">




       <form class="card col text-left bg-secondary text-center" id="updateUserForm">
 <h4 class="card-header bg-dark text-success">UPDATE USER INFO</h4>       
       
 Name<input type="text" id="userName"  class="row text-center border border-success" placeholder="NAME"/>
      <input type="text" id="jobTitle"  class="row text-center border border-success" placeholder="JOB TITLE"/>
      <textarea name="userAbout" id="userAbout" class="row text-center border border-success" placeholder="ABOUT YOU" cols="4" rows="4"></textarea>
            <br>
          <h4 class="text-success">
 <i class="fa fa-birthday-cake"></i>BIRTHDAY<i class="fa fa-birthday-cake"></i>
          </h4> 
   
            <span>DAY</span>  
      <input type="number" min="01" max="31" id="birthdayInput" class="row text-center border border-success" placeholder="00">
<span>Month</span>
<select name="birthmonthInput" id="birthmonthInput" class="row text-center border border-success" >
   <option value="no month selected" class="row text-center btn-dark border border-success"></option>
   <option value="January">01 January</option>
    <option value="February">02 February</option>
     <option value="March">03 March</option>
      <option value="April">04 April</option>
         <option value="May">05 May</option>
    <option value="June">06 June</option>
     <option value="July">07 July</option>
      <option value="August">08 August</option>
         <option value="September">09 September</option>
    <option value="October">10 October</option>
     <option value="November">11 November</option>
      <option value="December">12 December</option>
 </select>
       
         <br><button class="btn btn-dark text-success" ><h6>UPDATE USER <i class="fa fa-fighter-jet text-success"></i></h6>  </button>
         
        
         
        </form>
 

   
  </section>

 
</body>