<header>
<div id="welcomeDiv" class="text-primary"></div>

 <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="container">
      <a href="/index" class="text-success navbar-brand">
        <i class="fa fa-fighter-jet"></i>
        TURBO TICKET</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

<ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="register" class="nav-link text-warning">
               Signup <i class="fa fa-user"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="login" class="nav-link text-success">
              Login
               <i class="fa fa-laptop"></i>
            </a>
          </li>
        
      </div>
    </div>
    <br>
          </nav>




</header>