<body>
    <!-- HEADER -->
  <header id="main-header" class="row py-2 bg-dark text-white">
    
    <div class="max-height: 10% card-body text-warning">CLICK DETAILS BUTTON TO VIEW TICKET</div>
  <div class="max-height: card-body 10% text-warning" id="taskIDDiv">TICKET ID</div>
          <div class="max-height: 10% card-body text-primary" id="categoryDiv">CATEGORY</div>
          <div class="max-height: 10% card-body text-primary" id="ownerDiv">OWNER</div>
          <div class="max-height: 10% card-body text-primary" id="completedDiv">COMPLETED</div>
          <div class="max-height: 10% card-body text-primary" id="descriptionDiv">DESCRIPTION</div>
          <div class="max-height: 10% card-body text-primary" id="detailsDiv">DETAILS</div>
  

  </header>

  <!-- ACTIONS -->
  
        <div class="row bg-dark">
          
       
<form id="completeButton" class="card-header bg-dark text-white">
      <button class="card-header bg-dark text-success">COMPLETE</button>
    </form>
    <form id="incompleteButton" class="card-header bg-dark text-white">
      <button class="card-header bg-dark text-success">NOT COMPLETE</button>
    </form>
    <form  id="createdButton" class="card-header bg-dark text-white">
      <button class="card-header bg-dark text-success">Recently Created</button>
    </form>
    <form id="updatedButton" class="card-header bg-dark text-white">
      <button class="card-header bg-dark text-success">Recently updated</button>
    </form>
    <form id="allTicketsButton" class="card-header bg-dark text-white">
  <button class="card-header bg-dark text-success"> All Tickets</button>
</form>
        </div>


 
  <!-- tasks -->
  <section id="tasks" class="py-4 mb-4 bg-light ">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            


        <div id="tableDiv" class="bg-dark text-success">

 <table id="myTable" class="table table-striped bg-dark">
   <tr class="bg-dark text-success">
                  <th class="card-body">Category</th>
                  <th class="card-body">description</th>
                  <th class="card-body"> completed</th>
                  <th class="card-body">Created At</th>
                  <th class="card-body">Updated At</th>
                </tr>
   <tbody id="taskListBody">

   </tbody>
              
  
</table>

        </div>
           




 
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- MODALS -->

  <!-- ADD POST MODAL -->
  
</body>