<body class="bg-dark">
    <!-- HEADER -->
  <header id="mainHeader" class=" py-2 bg-dark text-white text-center">
   
<div class="dropdown bg-dark text-success">
  <button class="dropdown-toggle bg-dark text-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    SORT/FILTER TICKETS BY...
    
  </button>
  <div class="dropdown-menu bg-dark text-success" aria-labelledby="dropdownMenuButton">

    <form id="allTicketsButton" class="dropdown-item bg-dark ">
   <button class="bg-dark text-success">See All Tickets</button>
</form>

           <form id="completeButton" class="dropdown-item bg-dark">
       <button class="bg-dark text-success">Filter Complete Only</button>
    </form>
    <form id="incompleteButton" class="dropdown-item bg-dark">
     <button class="bg-dark text-success">Filter NOT Complete</button>
    </form>
    

<form  id="createdButton" class="dropdown-item bg-dark">
      <button class="bg-dark text-success">Sort By: Most Recently Created</button> 
    </form>
    <form id="updatedButton" class="dropdown-item bg-dark">
       <button class="bg-dark text-success">Sort By: Most Recently Updated</button>
    </form>
    
    


  </div>
</div>

  

  </header>

  <!-- ACTIONS -->
  
  <div  class="bg-dark text-success">

 
  <!-- tasks -->
  <section id="tasks" class="py-4 mb-4 bg-dark ">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            


        <div id="tableDiv" class="bg-dark">

 <table id="myTable" class="table table-striped bg-dark">
   <tr class="bg-dark text-success">
                 <th class="card-body text-center">Title</th>
                 
                </tr>
   <tbody id="taskListBody" class="text-danger">

   </tbody>
              
  
</table>

        </div>
           




 
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- MODALS -->

  <!-- ADD POST MODAL -->
  
</body>