<body>
    <!-- HEADER -->
 

  

    <form id="loginForm" class="card">
      
      
      <input type="text"  id="emailInput"  class="card-header" placeholder="EMAIL" />
      <input type="text" id="passwordInput"  class="card-header" placeholder="PASSWORD"/>
      <button class="btn btn-dark text-success">LOGIN</button>
    </form>
</body>