<body class="bg-dark text-center">
    <!-- HEADER -->
 

  

    <form id="loginForm" class="form-group text-success">
      
      <h6 class="text-success">EMAIL</h6>
      <input type="text"  id="emailInput"  class="form-control"  />
      <h6 class="text-success">PASSWORD</h6>
      <input type="text" id="passwordInput"  class="form-control"/>
      <button class="form-option bg-dark border border-warning"><h6 class="text-success">LOGIN</h6></button>
      
    </form>



<div>
<form id="logoutForm" class="form-option">
  <button class="btn btn-danger text-dark"><h5>LOGOUT</h5></button>
</form>
</div>
</body>