<body class="bg-dark text-center">
<div id="alertDiv" class="alert bg-dark text-primary" role="alert">WELCOME TO TURBO TICKET</div>
<div id="notLoggedInDiv" class="text-primary"></div>
    <form id="loginForm" class="form-group text-success">
      
      <h6 class="text-success">EMAIL</h6>
      <input type="text"  id="emailInput"  class="form-control"  />
      <h6 class="text-success">PASSWORD</h6>
      <input type="password" id="passwordInput"  class="form-control"/>
      <button class="form-option bg-dark border border-warning"><h6 class="text-primary">LOGIN</h6></button>
      
    </form>



<div>
<form id="signupForm" class="form-option">
  <button class="btn btn-warning text-dark"><h5>Don't have an account?</h5></button>
</form>
</div>
</body>