<body class="bg-dark">
<div id="mainHeader"></div>
 <form action="" class="card">
        <span class="btn btn-secondary text-warning"><i class="fa fa-info-circle text-warning">  NAME</i></span>
      <span id="userNameDiv" class="btn bg-dark text-success"></span>
      <span class="btn btn-secondary text-warning"><i class="fa fa-envelope-open text-warning">  EMAIL</i></span>
 <span id="userEmailDiv" class="btn bg-dark text-success"></span>
 <span class="btn btn-secondary text-warning"><i class="fa fa-birthday-cake text-warning">  Birthday</i></span>
       <span id="userAgeDiv" class="btn bg-dark text-success"></span>
      <span class="btn btn-secondary text-warning"><i class="fa fa-briefcase text-warning">  JOB TITLE</i></span>
      <span id="userJobDiv" class="btn bg-dark text-success"></span>
      <span class="btn btn-secondary text-warning"><i class="fa fa-info text-warning">  ABOUT</i></span>
 <span id="userAboutDiv" class="btn bg-dark text-success"></span>
 
      </form>
       

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="12000">
  <div class="carousel-inner">
  
    <div class="carousel-item active">
     <form action="" class="card">
     <span class="btn btn-dark text-warning">:::A FEW PROGRAMMER FRIENDLY QUOTES:::</span>
 
 <span class="btn btn-dark text-warning">click arrows to navigate</span>
 
       </form>
     
    </div>
    <div class="carousel-item">
<form action="" class="card">
      <span id="quoteDiv" class="btn bg-dark text-success text-wrap" style="width: 6;"></span>
      <span class="btn btn-secondary text-warning"><i class="fa fa-hashtag">AUTHOR</i></span>
 
 <span id="authorDiv" class="btn bg-dark text-success"></span>
 
       </form>
    </div>


    <div class="carousel-item">
     <form action="" class="card">
      <span id="quoteDiv2" class="btn bg-dark text-success text-wrap" style="width: 6;"></span>
        
      <span class="btn btn-secondary text-warning"><i class="fa fa-hashtag">AUTHOR</i></span>
 <span id="authorDiv2" class="btn bg-dark text-success"></span>
 
       </form>
     
     
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


</body>