<body class="bg-dark">

  

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <form action="" class="card">
        <span class="btn btn-secondary text-warning">NAME</span>
      <span id="userNameDiv" class="btn bg-dark text-success"></span>
      <span class="btn btn-secondary text-warning">EMAIL</span>
 <span id="userEmailDiv" class="btn bg-dark text-success"></span>
 <span class="btn btn-secondary text-warning">AGE</span>
       <span id="userAgeDiv" class="btn bg-dark text-success"></span>
      </form>
     
          
    </div>
   
    <div class="carousel-item">
      
     
     
     <form action="" class="card">
        <span class="btn btn-secondary text-warning">JOB</span>
      <span id="userJobDiv" class="btn bg-dark text-success"></span>
      <span class="btn btn-secondary text-warning">ABOUT</span>
 <span id="userAboutDiv" class="btn bg-dark text-success"></span>
 
       </form>
     
    </div>
    
    
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div id="catsDiv"></div>

</body>