<body>
    <a href="/">Login</a>
    <h2>
      CREATE A USER
    </h2>
    <form id="createUserForm">
      name
      <input type="text" id="userName" />
      email
      <input type="text"  id="userEmail" />
      password
      <input type="text" id="userPassword" />
      <button>Register</button>
    </form>
  </body>