<body class="bg-dark">
    <h6 class="text-center bg-dark text-success">
      SIGNUP BELOW
    </h6>
    <form id="createUserForm" class="card">
   <input type="number" id="userAge"  class="btn border border-success" placeholder="AGE"/>
 <input type="text" id="userName"  class="btn border border-success" placeholder="NAME"/>
      <input type="text" id="userTitle"  class="btn border border-success" placeholder="JOB TITLE"/>
      <textarea name="userAbout" id="userAbout" class="btn border border-success" placeholder="ABOUT YOU" cols="4" rows="4"></textarea>
    
      <input type="text"  id="userEmail"  class="btn border border-success" placeholder="EMAIL" />
      <input type="password" id="userPassword"  class="btn border border-success" placeholder="PASSWORD"/>
      <button class="btn btn-dark  border border-success text-success">REGISTER ACCOUNT</button>
    </form>

  </body>