<body class="bg-dark">
    <h6 class="text-center bg-dark text-success">
      SIGNUP BELOW
    </h6>
    <form id="createUserForm" class="card">
      
      <input type="text" id="userName"  class="card-header" placeholder="NAME"/>
      <input type="text"  id="userEmail"  class="card-header" placeholder="EMAIL" />
      <input type="text" id="userPassword"  class="card-header" placeholder="PASSWORD"/>
      <button class="btn btn-dark text-success">REGISTER ACCOUNT</button>
    </form>
    {{!-- <form class="card" id="createTaskForm">

         <textarea name="titleInput" id="titleInput" placeholder="Title Goes Here" cols="30" rows="2" class="card-header"></textarea>
            
        <textarea name="descriptionInput" id="descriptionInput" placeholder="DESCRIPTION GOES HERE" cols="30" rows="2" class="card-header"></textarea>

           
<textarea name="completedInput" id="completedInput" placeholder="TYPE TRUE OR FALSE" cols="30" rows="2" class="card-header"></textarea>
        
          
         <button class="btn btn-dark text-warning" >CREATE TICKET</button>        
        </form> --}}
  </body>