<body class="container bg-dark">


<div id="mainHeader"></div>

       <form class="card col text-left bg-dark text-white text-center" id="createUserForm">
 <h4 class="card-header bg-dark text-secondary">REGISTER BELOW</h4>       
       
 Name<input type="text" id="userName"  class="row bg-dark text-success text-center border border-success" placeholder="NAME"/>
Job Title      <input type="text" id="userTitle"  class="row  bg-dark  text-success text-center border border-success" placeholder="JOB TITLE"/>
 Email<input type="text" id="userEmail"  class="row bg-dark text-success text-center border border-success" placeholder="EMAIL"/>
Password  <input type="text" id="userPassword"  class="row  bg-dark  text-success text-center border border-success" placeholder="PASSWORD"/>

 About     <textarea name="userAbout" id="userAbout" class="row  bg-dark text-success  text-center border border-success" placeholder="TELL US A LITTLE BIT ABOUT YOURSELF" cols="4" rows="2"></textarea>
            
          <h4 class="text-secondary text-center">
 <i class="fa fa-birthday-cake text-success"></i>BIRTHDAY<i class="fa fa-birthday-cake text-success"></i>
          <br>
   <br>
             
      <input type="number" min="01" max="31" id="birthdayInput" class="btn w-25 bg-dark text-success text-center border border-success" placeholder="00">

<select name="birthmonthInput" id="birthmonthInput" class="btn w-25 bg-secondary  text-dark text-center border border-success" >
   <option value="January" class="text-center">January</option>
    <option value="February">February</option>
     <option value="March">March</option>
      <option value="April">April</option>
         <option value="May">May</option>
    <option value="June">June</option>
     <option value="July">July</option>
      <option value="August">August</option>
         <option value="September">September</option>
    <option value="October">October</option>
     <option value="November">November</option>
      <option value="December">December</option>
 </select>
        </h4>
         <br><button class="btn btn-dark text-success" ><h6>SIGNUP <i class="fa fa-fighter-jet text-success"></i></h6>  </button>
         
        
         
        </form>
 

   
  </section>

 
</body>
{{!-- 
<body class="bg-dark text-center">
    <h6 class="text-center bg-dark text-warning">
      SIGNUP BELOW <i class="fa fa-id-badge text-secondary "></i>
    </h6>
    <form id="createUserForm" class="card bg-dark">
  
 <input type="text" id="userName"  class="btn bg-dark text-success  border border-success" placeholder="NAME"/>
      <input type="text" id="userTitle"  class="btn bg-dark text-success  border border-success" placeholder="JOB TITLE"/>
      <textarea name="userAbout" id="userAbout" class="btn  bg-dark text-success border border-success" placeholder="ABOUT YOU" cols="4" rows="4"></textarea>
    
      <input type="text"  id="userEmail"  class="btn  bg-dark text-success border border-success" placeholder="EMAIL" />
      <input type="password" id="userPassword"  class="btn  bg-dark text-success border border-success" placeholder="PASSWORD"/>
  
 <h4 class="text-warning">
 <i class="fa fa-birthday-cake text-success"></i>BIRTHDAY<i class="fa fa-birthday-cake text-success"></i>
          </h4>      


             <span class="text-success">DAY</span>  
      <input type="number" min="01" max="31" id="birthdayInput" class="row   bg-dark text-success text-center border border-success" placeholder="00">
<span class="text-success">Month</span>
<select name="birthmonthInput" id="birthmonthInput" class="row  bg-dark  text-success text-center border border-success" >
   <option value="no month selected" class="row text-center  text-success btn-dark border border-success"></option>
   <option value="January">01 January</option>
    <option value="February">02 February</option>
     <option value="March">03 March</option>
      <option value="April">04 April</option>
         <option value="May">05 May</option>
    <option value="June">06 June</option>
     <option value="July">07 July</option>
      <option value="August">08 August</option>
         <option value="September">09 September</option>
    <option value="October">10 October</option>
     <option value="November">11 November</option>
      <option value="December">12 December</option>
 </select>
 

      <button class="btn btn-dark  border border-success text-success">REGISTER ACCOUNT   <i class="fa fa-fighter-jet"></i></button>
    </form>

  </body> --}}