<body class="bg-secondary">
<div class="col">
     <form class="form-group text-center bg-secondary" id="createTaskForm">
<h6>Title</h6>
         <textarea  maxlength="50" name="titleInput" id="titleInput" placeholder="Title Goes Here" cols="30" rows="2" class="form-control text-success bg-dark"></textarea>
            <h6>details</h6>
        <textarea maxlength="1000" name="detailsInput" id="detailsInput" placeholder="DESCRIPTION GOES HERE" cols="30" rows="2" class="form-control text-success bg-dark"></textarea>

     
<br>
<input type="checkbox" name="completedCheckbox" id="completedCheckbox" class="form-control text-success bg-dark"> <h6>COMPLETED</h6>
          
         <button class="btn bg-dark text-success" >UPDATE TICKET</button>
        
         
        </form>

</div>   

         

</body>