<body class="bg-secondary">


<div id="mainHeader"></div>

<div class="col">
     <form class="form-group text-center bg-secondary" id="createTaskForm">
<h6>Title <br> <i class="fa fa-arrow-down"></i></h6>
         <textarea  maxlength="50" name="titleInput" id="titleInput" placeholder="Title Goes Here" cols="30" rows="2" class="form-control text-success bg-dark"></textarea>
            <h6>DETAILS <br> <i class="fa fa-arrow-down"></i></h6>
        <textarea maxlength="1000" name="detailsInput" id="detailsInput" placeholder="DESCRIPTION GOES HERE" cols="30" rows="2" class="form-control text-success bg-dark"></textarea>

     
<h6>COMPLETED <br> <i class="fa fa-arrow-down"></i> </h6>
<input type="checkbox" name="completedCheckbox" id="completedCheckbox" class="form-control text-success bg-dark"> 
       <br>   <i class="fa fa-fighter-jet text-warning"></i><i class="fa fa-fighter-jet text-warning"></i><i class="fa fa-fighter-jet text-warning"></i>
         <button class="btn bg-dark text-warning" >UPDATE TICKET </button>
         <i class="fa fa-fighter-jet text-warning"></i><i class="fa fa-fighter-jet text-warning"></i><i class="fa fa-fighter-jet text-warning"></i>
                 
        </form>
</div>   

         

</body>